.content {
    flex: 1;
    padding: 20px;
    height: 100%;
    background-color: #f0e6d6;
    
  }

  .dashIcon{
    width: 50px;
    height: 50px;
    vertical-align: center;
    padding-left: 1600px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
  }
  
  table, th, td {
    border: 1px solid #003366;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #003366;
    color: #fff;
  }
  
  .actions {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .actions button {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .content h1 {
    text-align: left;
    margin-bottom: 30px;
    font-size: 35px;
  }