/* Sidebar.css */
.sidebar {
  width: 300px;
  background-color: #003366;
  color: #fff;
  padding: 20px;
  height: 100vh;
}

.sidebar h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 80px;
  height: 80px;
  padding: 0 24px; 
  background-color: inherit;
  border-radius: 50%; 
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 0;
  transition: background-color 0.3s;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.sidebar ul li:hover {
  background-color: #f0e6d6;
  border-radius: 40px 0 0 40px;
}

.sidebar ul li:hover a {
  color: #0808d1;
  font-weight: bold;
}
