.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row; /* Alinea los elementos en una fila */
  height: 100vh; /* Asegúrate de que el contenedor ocupe toda la altura de la ventana */
}

.sidebar {
  flex: 0 0 300px; /* Fija el ancho del sidebar */
}

.registro-table {
  flex: 0 0 1; /* El registro table ocupará el resto del espacio disponible */
  /* Añade padding si es necesario */
}
